<div class="container">
  <% var rmd_paths = []%>
  <% for(var line in site.data.rmd_post) { %>
    <%
      let path = site.data.rmd_post[line]
      rmd_paths.push(path)
    %>
  <% } %>

  <% for (var psg of site.posts.data) { %>
    <% if (rmd_paths.includes(psg.path)) {%>
      <%- partial("component/rmd_article_slice", {psg: psg}) %>
    <%} %>
<%  } %>

  <%- partial('/component/timeline') %>
  <nav class="page-navigation">
    <% if(page.prev !== 0){ %>
      <a href="<%- url_for(page.prev_link)%>">Previous</a>
    <% } %>
    <% if(page.next !== 0){ %>
      <a href="<%- url_for(page.next_link)%>">Next</a>
    <% } %>
  </nav>
</div>