<%
const getRealPath = pathname => {
  if(!pathname) {
    pathname = window.location.pathname
  }
  let names = pathname.split("/")
  for(let i = names.length - 1; i >= 0; --i) {
    let name = names[i].trim()
    if(name.length > 0 && name !== "/" && name !== "index.html") {
      return name
    }
  }
  return "/"
}
%>
<div class="container home-index">
  <% for(let psg of page.posts.data){ %>
  <% if(psg.title) {%>
    <% let realPath = getRealPath(psg.path)%>
    <%- partial("component/article-slice", {psg: psg, realPath: realPath}) %>
  <% } %>
  <% } %>

  <nav class="page-navigation">
    <% if(page.prev !== 0){ %>
      <a href="<%- url_for(page.prev_link)%>">Previous Page</a>
    <% } %>
    <% if(page.next !== 0){ %>
      <a href="<%- url_for(page.next_link)%>">Next Page</a>
    <% } %>
  </nav>

  <% if(theme.leancloud.timer){ %>
    <%- partial("_partial/timer") %>
  <% } %> 
</div>
